!body_font= "Helvetica Neue", "Helvetica", "sans", "Arial"
!mono_font= "Monaco", "Vera Sans Mono", "Lucida Console", "Courier", "mono", "Courier New"
body
  :font-family = !body_font
  :padding 0
  :margin 0
.file_box
  :float left
  :width 140px
  :min-height 220px
  :background-color #ddf
  :padding-right 2px
  h1
    :font-size 14px
    :border-bottom 2px solid black
    :padding-left 2px
  ul#files
    :min-height 10px
    :font-family = !mono_font
    :list-style-type none
    :padding-left 2px
    :overflow auto
    li
      :padding 4px 2px
      :margin-bottom 4px
      &.new
        :background-color #dfd
.editor_box
  :float left
  :width 600px
  .chrome
    :font-size larger
    input#filename
      :font-family = !mono_font
      :width 100px
    span.button
      :display inline
      :display inline-block
      :background-color #ddd
      :border 1px solid black
      :padding 2px
      :cursor default
      :font-size smaller
      &:hover
        :background-color #eee
  textarea
    :width 600px
    :height 200px
    :font-family = !mono_font
  &.ipad_focus
    .chrome
      span#save_button
        :position absolute
        :left 0
        :top 20px
        :font-size 3em