!!!5
%head
  %title Telecaster
  %meta(name='viewport' content='width=device-width')
  %link(rel="stylesheet" href="stylesheets/telecaster.css" type="text/css" media="screen" charset="utf-8")
%body
  .file_box
    %h1 Telecaster
    %ul#files
  .editor_box
    .chrome
      %input#filename
      %span.button#save_button Save
      %span.button#eval_button Eval
    %textarea#editor
  %script(type='text/javascript' src='javascripts/prototype.js')
  %script(type='text/javascript' src='javascripts/telecaster.js')
  :javascript
    Telecaster();